.btn-orange {
  background-color: hsl(25, 97%, 53%);
  border: none;
  color: #fff;
  border-radius: 30px;
  padding: 12px 26px;
  font-size: 15px;
  font-weight: 700;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: #fff !important;
    color: hsl(25, 97%, 53%) !important;
    outline: 0;
  }

  &:active,
  &.active {
    background-color: rgb(250, 208, 178) !important;
    color: hsl(25, 97%, 53%) !important;
  }
}
