html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: HSL(228, 11%, 9%);
  font-family: "Overpass";
}
.pageContainer {
  .appLayout {
    height: 100vh;
    overflow: "hidden";

    .appContainer {
      width: 410px;
      height: 410px;
      overflow: "hidden";
      color: #fff;

      .appContent {
        position: relative;
        margin: 20px;
        padding: 20px;
        background: HSL(221, 19%, 16%);
        border-radius: 30px;
        span {
          background: HSL(214, 17%, 18%);
          border-radius: 20px;
          width: 40px;
          height: 40px;
          padding: 5px;
          margin-bottom: 30px;
          img {
            width: 15px;
            height: 15px;
          }
        }
        h1 {
          font-size: 26px;
          color: hsl(0, 0%, 100%);
          margin-bottom: 20px;
        }
        p {
          font-size: 15px;
          color: hsl(217, 12%, 63%);
          margin-bottom: 35px;
        }
        .buttonList {
          margin-bottom: 35px;
          a {
            background-color: HSL(214, 17%, 18%);
            display: flex;
            width: 44px;
            height: 44px;
            align-items: center;
            justify-content: center;
            border-radius: 22px;
            color: hsl(217, 12%, 63%);
            text-decoration: none;
            font-size: 17px;
            &:hover {
              background-color: HSL(217, 11%, 54%) !important;
              color: #fff !important;
            }
            &:focus,
            &:active,
            &.active {
              background-color: hsl(25, 97%, 53%) !important;
              color: #fff !important;
              outline: 0;
            }
          }
        }
        .btnSubmit {
          font-size: 14px;
        }
        .btn-close {
          position: absolute;
          right: 15px;
          top: 15px;
        }
      }
    }
  }
}
